<li>
    <%= link_to 'proyecto',
                '/proyecto.html',
                :class => "proyecto first"%>
</li>
<li>
    <%= link_to 'candidatura',
                '/candidatura.html',
                :class => "candidatura"%>
</li>
<li>
    <%= link_to 'programa',
                '/programa.html',
                :class => "programa"%>
</li>
<li>
    <%= link_to 'actualidad',
                '/actualidad.html',
                :class => "actualidad"%>
</li>
<li>
    <%= link_to 'Plaza La Muela',
                'http://plaza.meteor.com/',
                :class => "participa",
                :target => "_blank" %>
</li>
<li>
    <%= link_to 't',
                'https://twitter.com/davidroyuela7',
                :class => "icon facebook twitter",
                :target => "_blank" %>
</li>
<li>
    <%= link_to 'f',
                'https://www.facebook.com/search/str/ganar%20la%20muela/keywords_top',
                :class => "icon facebook facebook",
                :target => "_blank" %>
</li>