---
title: Ganar La Muela - Actualidad
---

<section class="secondary-page">
    <div class="container Actualidad">
        <div class="row">
            <div class="col s12 page-header">
                <h3>Actualidad</h3>
            </div>

            <main class="col l9 s12 page-main">
                <section class="articles">

                    <article>
                        <header>
                            <h4 class="title">Primera semana de gobierno municipal</h4>
                            <date>19 de Junio de 2015</date>
                        </header>
                        <main>
                            <p>Hoy 19 de Junio queremos comenzar una costumbre, un compromiso con todos los vecinos de La Muela. Cada viernes haremos un resumen del trabajo realizado en nuestro ayuntamiento y, si fuera posible, también comunicaríamos la agenda para la próxima semana si tuviera interés.</p>
                            <p>En esta primera semana hemos visitado las obras realizadas en el complejo deportivo y que albergaran la futura sección del instituto. Nos desplazamos los concejales del Ayuntamiento, secretario del Ayto., plataforma de instituto, así como técnicos de educación de DGA. Las conclusiones fueron muy positivas. Las obras van a buen ritmo y con las previsiones de finalización para las fechas establecidas.</p>
                            <p>Por otro lado, se ha puesto en contacto con nosotros la gerente de la residencia, proponiendo la colocación de la cocina que estaba en el bar de las piscinas en la residencia para dar servicio a la ampliación de la residencia y de un futuro tanatorio junto a ella, así como poder crear un comedor social allí mismo. <br>Se llevará a estudio y se dará respuesta.</p>
                            <p>Otro tema que se trata es la apertura de las piscinas y resto de instalaciones durante los meses de Julio y Agosto, con las siguientes tarifas:</p>
                            <ul>
                                <li>Bonos de 33€ para adultos</li>
                                <li>Bonos de 25€ para menores</li>
                                <li>Bonos de 25€ para jubilados</li>
                                <li>Entrada adulto/día 2.40 €</li>
                                <li>Entrada día jubilado/infantil 1€</li>
                            </ul>
                            <p>Los descuentos seguirán como siempre.<br> El precio del bono es el proporcional del abono anual del centro deportivo, ya que no hay precio establecido.</p>
                            <p>En el aspecto puramente político, se hablo de:</p>
                            <ul>
                                <li>Nos reunimos, el alcalde y los concejales, en el Ayto., para proponer la organización del las concejalías.</li>
                                <li>Se ofrece a todos los grupos participar llevando concejalías, siendo estas de gestión independiente de cada grupo. <br>Acordamos una semana para contestar.</li>
                                <li>En función de los que entremos a llevar concejalias, se distribuirán las áreas. Se plantea la posibilidad de crear una junta de portavoces que podría sustituir a la junta de gobierno, todo pendiente de los grupos que participen y del informe del secretario al respecto.</li>
                                <li>El concejal de Ciudadanos, da su respuesta en ese instante y acepta entrar en gobierno. </li>
                                <li>El resto responderá en una semana, con excepción del PAR que como manifestó en la investidura no quieren llevar nada.</li>
                                <li>Jaime del PSOE pregunta sí van a retirar la acusación particular del ayuntamiento en la Operación Molinos, siendo rotunda la contestación "NO". También pregunta por la RPT, y Pedro le confirma que por supuesto que va a mantenerse y que se modificaran algunas cosas.</li>
                                <li>Adrian comenta que se están dando los primeros pasos para la auditoria y que nos irán informando. Se ha solicitado un informe de todos los juicios y sentencias pendientes para hacerlo publico y que se nos entregará a todos.</li>
                                <li>Y esto es todo por esta semana. Durante la próxima los grupos políticos celebrarán reuniones de partido y en nuestra próxima comunicación esperamos poderles confirma como queda configurado el Gobierno en La Muela.</li>
                                <li>Queremos hacer estas comunicaciones con carácter semanal, los viernes tarde, recién terminada la semana, para que les sirva como breve aperitivo "político" los fines de semana.</li>
                            </ul>
                            <p>Saludos a todos y feliz fin de semana</p>
                            <p><small>Ganar La Muela</small></p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Mañana sábado 13 de junio, arranca la nueva legislatura en La Muela con su pleno constituyente</h4>
                            <date>12 de Junio de 2015</date>
                        </header>
                        <main>
                            <p>El pasado día 24 de Mayo, La Muela me pareció un pueblo distinto al que conocía. Nunca habia visto tanta gente en la calle, en sus plazas.</p>
                            <p>El clima ayudó y sus vecinos se echaron a la calle a celebrar el acto central de toda Democracia, su presentación ante las urnas, dando forma a sus ilusiones mediante el acto de votar.</p>
                            <p>Dias antes, personas de buena voluntad se habían postulado para el gobierno de su pueblo y les trasmitieron sus deseos y esperanzas, sus formulas para lograr un pueblo mejor.</p>
                            <p>Los candidatos hicieron su trabajo, en paz y cierta armonía. Y los vecinos de La Muela, cumplieron con el suyo, depositaron su voto y con el sus preferencias para un próximo gobierno.</p>
                            <p>Fue, en resumen, una gran fiesta. El gran escaparate de la Democracia. Cuando salia del colegio electoral, las 23:55, con las copias de las actas, estaba cansado pero contento. La Muela había expresado claramente sus deseos, y no me cabe duda que estos deseos eran sinceros y honestos.</p>
                            <p>Desde ese día hasta hoy, los candidatos electos se han reunido y hablado, tratando de configurar el gobierno que La Muela desea. De esas conversaciones saldrá un gobierno que gustará mas a unos que a otros, pero que será legitimo y elegido por sus convecinos. Nadie podrá quejarse, ni tampoco sentirse engañado. Todas las fuerzas políticas que se presentaron obtuvieron representación, y una en el gobierno y las otras en la oposición, tengan por seguro, que harán un gran trabajo, por que nadie será excluido y su voz será escuchada siempre.</p>
                            <p>Estoy seguro, además, que el pueblo de La Muela va a seguir esta legislatura con interés y participación. En todo momento estará informado de los asuntos de interés local, incluso consultado en especiales ocasiones.</p>
                            <p><strong>Mañana, día 13 de Junio a las 10:30 horas en el Salón del Ayuntamiento</strong>, todo este trabajo quedara plasmado en la elección de Alcalde y gobierno. No se cierra el proceso, se abre una nueva fase y a ella queremos invitar, desde GANAR LA MUELA, a todos los vecinos que quieran acompañarnos en tan solemne acto.</p>
                            <p>Lo que verán solemnemente representado es su decisión, introducida en las urnas el pasado 24, y pueden estar seguros de que no se han equivocado. Con el tiempo se lo demostraremos.</p>
                            <p>Aunque han ido teniendo noticias de nuestras conversaciones, les aseguramos que no hay nada pactado, salvo lo que conocen, por lo que pudieran darse sorpresas. Tal vez San Antonio nos tienda su mano y logre un milagro. Es una ironía, no soy creyente, bueno sí, creo en las personas de buena voluntad y habrá unas cuantas.</p>
                            <p>Lo que si podemos asegurar desde GANAR LA MUELA, es que desde mañana el Ayuntamiento será la casa de todos, abierta a todos y transparente como nunca lo fue en este siglo.</p>
                            <p>Saludos a todos,</p>
                            <p><small>GANAR LA MUELA</small></p>

                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Acta de la reunión en el Ayuntamiento 10/06/2015</h4>
                            <date>10 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Miércoles 10 de Junio en el Ayuntamiento</p>
                            <p><strong>Asistentes</strong>: PP: Marisol y Marta - CHA: Adrián y Pedro - C's, Antonio - PSOE: Jaime - GLM: Arturo y José Antonio - PAR: ausente</p>
                            <p>Chunta Aragonesista comunica su intención de crear gobierno municipal con Adrián como posible alcalde, a continuación pasa la palabra a los demás grupos.</p>
                            <p>Ganar La Muela, comunica su apoyo a Chunta Aragonesista, tal y como se decidió por unanimidad en la asamblea celebrada el pasado día siete de Junio.</p>
                            <p>El PSOE se abstiene hasta el próximo día 13, que será cuando se forme el próximo ayuntamiento.</p>
                            <p>El PP, nos comunica que sí salen ellos elegidos, todos tendremos que gobernar, ya que interpretan que eso es lo que quiere el pueblo.</p>
                            <p>Ciudadanos comunica que apoyará al PP y que formarán gobierno con ellos. Así mismo, Antonio le dice al PSOE, que apoye a CHA-GLM y así seríamos cuatro a cuatro.</p>
                            <p>Finalmente se da por concluida la reunión y nos emplazamos para el próximo día trece que tendrá lugar el primer pleno del Ayuntamiento donde se deberá elegir alcalde por votación.</p>
                        </main>
                    </article><!-- article -->


                    <article>
                        <header>
                            <h4 class="title">REUNIÓN CON CHUNTA ARAGONESISTA</h4>
                            <date>7 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Domingo 7 de Junio a las 11:45h en el Casino</p>
                            <p><strong>Asistentes</strong>: Adrián y Pedro por parte de CHA y Arturo y José por parte de Ganar La Muela. Así mismo asisten diversos compañeros asistentes a la asamblea, pero únicamente en caracter de oyentes. Dejando la responsablidad del diálogo en nuestra comisión de contacto.</p>
                            <p>Se les comunica de primera mano la decisión tomada, lo cual agradecen reitarando su postura de luchar conjuntamente por sacar adelante unos programas que en lo sustancial son muy similares.</p>
                            <p>A continuación se pasa a analizar las diferentes posiblidades que se abren de cara al primer pleno de la legislatura.</p>
                            <p>Finalmente se da por concluida la reunión.</p>
                        </main>
                    </article><!-- article -->


                    <article>
                        <header>
                            <h4 class="title">Acta de Asamblea Ciudadana Ganar La Muela domingo 7/06/2015</h4>
                            <date>7 de Junio de 2015</date>
                            <figure>
                                <%= image_tag 'asamblea-domingo-7-junio-2015.jpg', :class => "responsive-img", :title => "Asamblea Ganar La Muela domingo 7 de junio de 2015" %>
                            </figure>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Domingo 7 de Junio a las 10:0h en el Casino</p>
                            <p>Arturo y José comienzan explicando en profundidad el transcurso de las diferentes conversaciones con el resto de las formaciones políticas y atienden las diferentes dudas de los compañeros.</p>
                            <p>Pasamos a analizar las diferentes opciones que presenta la actual situación y las posibilidades que nos brindan de cara a poder impulsar los puntos más importantes de nuestro programa.</p>
                            <p>Finalmente tras un profundo debate se toman por votación en Asamblea y por unanimidad las siguiente decisión:</p>
                            <ul>
                                <li><strong>Creemos que La Muele debe tener un gobierno municipal que impulse políticas sociales, de rescate ciudadano, de participación y de profundización democrática.</strong> No solo lo creemos los aquí reunidos en Asamblea sino que muchos de nuestros conciudadanos asi nos lo han transmitido tanto por la calle como por redes sociales. Y por ello creemos cualquier otra decisión sería traicionar a nuestra gente, a los que nos han votado y a los que nos apoyan.</li>
                                <li><strong>Ganar La Muela va apoyar a Chunta Aragonesista en la formación de gobierno municipal progresista, de marcado caracter social y de profundización democrática</strong> como una tercera vía altenativa a las de los partidos de la vieja política.</li>
                            </ul>
                        </main>
                    </article><!-- article -->


                    <article>
                        <header>
                            <h4 class="title">Comunicamos que nos ha sido totalmente imposible reunirnos con PSOE</h4>
                            <date>7 de Junio de 2015</date>
                        </header>
                        <main>
                            <p>Comunicamos que nos ha sido totalmente imposible reunirnos con Jaime Amelier, responsable del grupo municipal del PSOE dado que nos han comentado que en estos días estaba ausente por temas personales.</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Acta de reunión con PAR vecinos independientes</h4>
                            <date>7 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Sábado 6 de Junio</p>
                            <p><strong>Asistentes</strong>: Carlos y Lucio (PAR) y Arturo (Ganar La Muela).</p>

                            <p>La reunión se inició y desarrolló en un ambiente cordial.</p>
                            <p>Les hemos explicado nuestro compromiso de transparencia y no han puesto inconveniente.</p>
                            <p>Nos han explicado su propuesta, que ya conociamos por las redes sociales.</p>
                            <p>Les comentamos que con ellos terminamos los contactos con los diferentes grupos, y que mañana nos reunimos y tomaremos una decisión.</p>
                            <p>En otro orden de cosas nos indican que las acusaciones que les vinculan con anteriores equipos de gobierno de La Muela son falsas.</p>
                            <p>Les preguntamos el por que en su manifiesto no se comprometen a no sacar al ayuntamiento de La Muela como acusación particular en la operación Molinos.</p>
                            <p>La respuesta es que no van a hacer tal cosa y que piensan hacerlo publico y firmarlo ante notario junto al pacto de gobierno que ofrecen a todas las fuerzas menos al grupo Popular.</p>
                            <p>Finalmente les presentamos nuestros seis puntos básicos para negociar, los cuales no les suponen, problema con la excepción del quinto. No les parece bien hacer publica la renta y patrimonio de los concejales ya que, a su entender, es información personal y muy delicada.</p>
                            <p>Habría que añadir que no entra en sus planes apoyar a otras opciones de gobierno mas que la suya.</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Acta de reunión con Ciudadanos</h4>
                            <date>7 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Viernes 5 de Junio a las 17:30h</p>
                            <p><strong>Asistentes</strong>: Antonio (Ciudadanos) y José (Ganar La Muela).</p>
                            <p>Antonio volvió a comentar lo mismo que expuso el pasado jueves respecto a la forma de colaborar con el PP, en caso de tuvieran la alcaldía y gobernaran ellas solas.</p>
                            <p>Comentó también, que haría en caso de que el CHA, propusiera a Adrián para la alcaldía, dijo que sí es así, el no tendría ningún inconveniente en apoyar.</p>
                            <p>Así mismo nos comenta, que con los únicos que había hablado, con PP y con nosotros.</p>
                            <p>Por último nos transmitió la necesidad de saber algo antes del día 10 que es cuando tenemos la reunión en el ayuntamiento. Procediendo finalmente a entregarmnos una copia de lo que dijo en la reunión del ayuntamiento</p>
                            <p>Con esto se da por concluída la reunión.</p>
                        </main>
                    </article><!-- article -->


                    <article>
                        <header>
                            <h4 class="title">Acta de reunión en el ayuntamiento con todos los partidos, a petición del grupo popular.</h4>
                            <date>5 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Jueves 4 de Junio a las 12:00h en el ayuntamiento</p>
                            <p><strong>Asistentes</strong>: Marisol, Rosa y Marta (grupo popular). Adrian y Pedro (CHA). Antonio (Ciudadanos) y José y Arturo (Ganar La Muela).</p>
                            <p><strong>Ausente:</strong> Jaime (PSOE) por grave asunto familiar y el PAR por no estar invitado.</p>
                            <p>Marisol nos insta a todos a dar una respuesta al ofrecimiento de su grupo para entrar en gobierno asumiendo una concejalía.</p>
                            <p>En primer lugar nosotros le indicamos (como les informamos el dia anterior personalmente), que estamos pendientes de terminar la ronda de encuentros con todos los grupos para poder dar una respuesta. Por supuesto siempre despues de presentarlo y votarlo en nuestra asamblea.</p>
                            <p>Ciudadanos nos comunica a todos que aceptará entrar en gobierno, con el PP, si el resto de fuerzas hacemos lo mismo.</p>
                            <p>Si no es asi plantea la posibilidad de que las tres concejalas del PP asuman todas las concejalias y el resto de grupos colaboremos en grupos de trabajo. Cada uno asignado a una concejalía. A modo de "concejales adjuntos".</p>
                            <p>No hubo respuesta a la petición de Ciudadanos, quedando pendiente su estudio por todas las partes.</p>
                            <p>Finalmente CHA comenta que hasta ese momento no tenía constancia oficial de la propuesta del PP, pero no parece que vayan aceptar por que literalmente "no se fian".</p>
                            <p>CHA hace saber que no quiere a Marisol de alcaldesa, ni tampoco a Carlos Rodrigo. Postulan a Adrían como candidato.</p>
                            <p>Ciudadanos hace notar su malestar por que no tengamos tomada una decisión, y entre todos decidimos volver a vernos el dia 10 por la mañana con una respuesta.</p>
                            <p>Antes de terminar le comentamos al grupo Popular si el ayuntamiento tiene alguna iniciativa para no cobrar los bonos de fiestas a las familias en condiciones de necesidad. Se nos indica que no, pero que eso debe ir a traves de la trabajadora social del centro de salud. Delante de todos Marisol insta a Rosa para que informe a las responsables de la venta y para ponerse en contacto con la trabajadora social y ver que se puede hacer.</p>
                            <p>Hacemos participes a todos de que devolvemos nuestro bono sin que nadie se pueda sentir ofendido.</p>
                        </main>
                    </article><!-- article -->


                    <article>
                        <header>
                            <h4 class="title">Inicio de conversaciones con PAR</h4>
                            <date>5 de Junio de 2015</date>
                        </header>
                        <main>
                            <p>Comunicamos que el sábado 6 de junio tendrá lugar una primera reunión entre nuestra comisión de contacto (Arturo y José) para intercambiar impresiones con los representantes correspondientes de Partido Aragonés Regionalista</p>
                        </main>
                    </article><!-- article -->



                    <article>
                        <header>
                            <h4 class="title">Posición de Ganar La Muela frente a la entrega de abonos de fiestas a los concejales y otros…</h4>
                            <date>4 de Junio de 2015</date>
                        </header>
                        <main>
                            <h5>Artículo 44.1 de La Constitución Española:</h5>
                            <p><em>“Los poderes públicos promoverán y tutelarán el acceso a la cultura, a la que todos tienen derecho.”</em></p>
                            <p>En Ganar La Muela creemos firmemente que en que los festejos populares deberían ser, como objeto cultural de carácter gratuito para todos los vecinos y vecinas de La Muela, así como como auto-organizados y de carácter participativo.</p>
                            <p>No obstante, ante la inminencia de las fechas y dadas las circunstancias económicas del consistorio en estos momentos. Al menos <strong>creemos que se debería facilitar gratuitamente los Abonos de Fiestas a todas aquellas familias que lo soliciten acreditando su precariedad económica. Y siempre de forma anónima de puertas a fuera.</strong></p>
                            <p>Por otro lado, no nos parece correcto desde el punto de vista ético, y de transparencia democrática que se entreguen dichos abonos de modo gratuito a los concejales salidos de las urnas o a ningún otro privilegiado.</p>
                            <p>Si queremos cambiar el modo de hacer vieja política que nos ha traído hasta aquí, deberíamos empezar a demostrar el camino andando.</p>
                            <p><strong>Por todo ello, comunicamos que renunciamos al Abono de Fiestas que se nos pudiera facilitar e instamos al resto de las fuerzas políticas a que se sumen a este gesto, actuando del mismo modo. Igual que les animamos a apoyar esta propuesta de gratuidad de abonos para las familias necesitadas.</strong></p>
                            <p><em>Arturo Espada y José Antonio Urresti,</em></p>
                            <p><strong>Ganar La Muela</strong></p>
                        </main>
                    </article><!-- article -->



                    <article>
                        <header>
                            <h4 class="title">ACTA DE PRIMERA REUNIÓN CON CHUNTA ARAGONESISTA</h4>
                            <date>4 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Miércoles 3 de Junio a las 13:00h</p>
                            <p><strong>Asistentes</strong>: Adrián y Pedro por parte del CHA. Arturo y José por parte de Ganar La Muela.</p>
                            <p><em>Agradecemos a Adrián y Pedro el buen ambiente de camaradería con el que ha transcurrido la reunión y donde queda evidente una vez más la coincidencia ideológica y de programa.</em></p>
                            <p>Dicha reunión comenzó con una aclaración por nuestra parte, exponiendo cual era nuestro protocolo de transparencia para este tipo de contactos y reuniones. Tras no poner impedimento a estos por su parte y siendo comunicados de que un acta de dicha reunión sería publicada, dio comienzo la reunión.</p>
                            <p>Nos indican que aun no han hablado con ningún otro grupo y que su idea es presentar a Adrian como candidato a alcalde y esperar que ocurre de este modo en la votación.</p>
                            <p><strong>Nos proponen acordar una posición conjunta entre ambas formaciones, estiman que al sumar tantos concejales (3) como PP y PAR disponemos de la misma legitimidad a la hora de optar a formar gobierno municipal y que en caso de prosperar esta propuesta, nos correspondería asumir el cargo de teniente de alcalde.</strong></p>
                            <p>Les hacemos saber, obvio por otro lado,  que programáticamente no tendríamos ningún problema y que la coincidencia ideológica puede facilitar mucho las cosas. No obstante, se les hace saber que estamos en fase de contactos y que una vez finalizada, tenemos que debatir y deliberar en asamblea con nuestra gente todas las opciones disponibles.</p>
                            <p>Nos lo agradecen y nos comunican que van a presentar su propuesta al resto de grupos.</p>
                            <p>Se da por concluida esta reunión.</p>
                        </main>
                    </article><!-- article -->


                    <article>
                        <header>
                            <h4 class="title">ACTA DE SEGUNDA REUNIÓN CON PARTIDO POPULAR</h4>
                            <date>4 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Miércoles 3 de Junio a las 10:30h</p>
                            <p><strong>Asistentes</strong>: Marisol y Marta por parte del PP. Arturo y José por parte de Ganar La Muela.</p>
                            <p>En primer lugar nos comunican que nos han convocado para que les demos una respuesta a su ofrecimiento de la anterior reunión para entrar al equipo de gobierno y asumir una concejalía. A lo cual les indicamos que daremos una respuesta cuando hayamos hablado con el resto de fuerzas que han sacado representación.</p>
                            <p>Nos instan a que vayamos pensando en que concejalía nos interesaría, ya que se nos ofrecerá en pleno y tendremos que decidir públicamente nuestra aceptación o no a la propuesta.</p>
                            <p>Quedamos en darles una respuesta lo antes posible, pero una vez terminada la fase de contactos y tras debate y deliberación en asamblea por parte de nuestra gente.</p>
                            <p>Tras una breve charla distendida de temas intrascendentes, se da por concluida la reunión.</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">ACTA DE REUNIÓN CON PARTIDO POPULAR</h4>
                            <date>3 de Junio de 2015</date>
                        </header>
                        <main>
                            <p><strong>Fecha</strong>: Viernes 29 de mayo</p>
                            <p><strong>Asistentes</strong>: Marisol, Rosa y Marta por parte del PP. Arturo y José por parte de Ganar La Muela.</p>
                            <p>Debemos comenzar aclarando que agradecemos a Marisol y su equipo la cordialidad con la que nos recibieron y que se mantuvo a lo largo de toda la reunión.</p>
                            <p>Dicha reunión comenzó con una aclaración por nuestra parte, exponiendo cual era nuestro protocolo de transparencia para este tipo de contactos y reuniones. Tras no poner impedimento a estos por su parte y siendo comunicadas de que un acta de dicha reunión sería publicada, dio comienzo la reunión en si misma.</p>
                            <p>Comenzamos escuchado su propuesta consistente en:<br>
                            Nos proponen entrar  en el equipo de gobierno con una concejalía a elegir por nuestra parte. Nos ofrecían así mismo todas las puertas abiertas para inspeccionar documentación y cuentas del ayuntamiento. Así mismo nos comentaron cuales eran las propuestas de gobierno.</p>
                            <p>Nos comentan que como saben que Ganar La Muela es una coalición de dos partidos, nos ofrecen poder entrar el concejal, Arturo en este caso por parte de Izquierda Unida y José por parte de Podemos, con voz, pero sin voto. Puesto que no es concejal electo.</p>
                            <p>Comunican a su vez que van a llamar a todos los grupos políticos para dialogar al igual que han hecho con nosotros. Y que posteriormente nos emplazarían a los grupos interesados a una reunión todos juntos con fechas y horas por determinar.</p>
                            <p>Se ocupan de ponernos al día un poco por encima de la situación económica del ayuntamiento. Y nos ofrecen en caso de entrar en el equipo de gobierno la posibilidad de hacer una auditoría pública.</p>
                            <p>Nos aclaran, que el tono tenso por su parte de la pasada legislatura se debía a lo mal que lo pasaron con la actitud y el posicionamiento de algún grupo político.</p>
                            <p>Resaltan la importancia de llegar a un acuerdo de gobierno ya que en caso de no lograrlo, el municipio pasaría a estar gobernado por una gestora.</p>
                            <p>Finalmente, les recordamos que <strong>esta reunión por nuestra parte simplemente era una toma de contacto y recepción de propuestas</strong>, dado que ahora mismo es la fase en la que nos encontramos de cara a todos los grupos políticos.</p>
                            <p><strong>Acordamos que en la siguiente reunión les haríamos llegar los puntos de nuestro programa electoral que para nuestra formación y nuestra gente son de carácter irrenunciable. Y que cualquier tipo de cuerdo solo podrá ser aprobado por nuestra gente en asamblea.</strong></p>
                            <p>Tras lo cual agradecemos el hecho de habernos llamado y recibirnos y se da por concluida la reunión.</p>
                            <p><em>Nota.- Por la tarde nos llaman de nuevo para emplazarnos a una segunda reunión el miércoles a las 10:30 de la mañana.</em></p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Segunda ronda de conversaciones con Partido Popular</h4>
                            <date>2 de Junio de 2015</date>
                        </header>
                        <main>
                            <p>Comunicamos que el miércoles 3 de junio a las 10:00h tendrá lugar una segunda reunión entre nuestra comisión de contacto y los representantes del Partido Popular a instancia de estos últimos.</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Inicio de conversaciones con Chunta Aragonesista</h4>
                            <date>29 de Mayo de 2015</date>
                        </header>
                        <main>
                            <p>Comunicamos que el miércoles 3 de junio tendrá lugar una primera reunión entre nuestra comisión de contacto (Arturo y José) para intercambiar impresiones con los representantes correspondientes de Chunta Aragonesista.</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Ganar La Muela inicia conversaciones con otras fuerzas políticas</h4>
                            <date>28 de Mayo de 2015</date>
                        </header>
                        <main>
                            <p><strong>Continuando con nuestro espiritu de diálogo y democracia real</strong>, mañana 29, tendrá lugar una <strong>reunión de intercambio de impresiones</strong> entre dos portavoces nuestros, Arturo Espada y José Urresti con representantes del Partido Popular <strong>a petición de estos últimos</strong>.</p>
                            <p>Siguiendo nuestros <strong>principios de transparencia</strong>, seguiremos informando públicamente al respecto.</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Comunicamos condiciones necesarias para iniciar conversaciones con Ganar La Muela</h4>
                            <date>28 de Mayo de 2015</date>
                        </header>
                        <main>
                            <p>Desde la candidatura de unidad popular <strong>Ganar La Muela</strong>, queremos hacer público el siguiente <strong>comunicado</strong>:</p>
                            <p>Desde su creación, esta candidatura ha tenido como <strong>objetivo principal la regeneración democrática de la política municipal y el empoderamiento de la gente</strong>. Este objetivo queda reflejado en numerosas medidas y puntos recogidos en <strong>nuestro programa electoral</strong> y documento de principios éticos. Esto es algo que toda fuerza política que quiera pactar o simplemente dialogar con nosotros deberá tener muy claro.</p>
                            <p>Uno de esos puntos hace especial incidencia en el concepto de <strong>transparencia</strong> y por tanto declaramos que <strong>no creemos en los pactos de salón</strong> ni en los mercadeos de puestos y prebendas.</p>
                            <p>Por tanto, exponemos públicamente que <strong>estamos totalmente abiertos al diálogo</strong> con todas las fuerzas políticas de este municipio. Pero que dicho dialogo se deberá dar dentro del siguiente <strong>marco de transparencia</strong>:</p>
                            <ol>
                                <li><strong>Publicaremos previamente</strong> con quien o que fuerza política nos vamos a reunir.</li>
                                <li><strong>Levantaremos acta</strong> de cada reunión que se mantenga.</li>
                                <li><strong>Las actas serán publicadas</strong> posteriormente.</li>
                                <li><strong>Toda decisión</strong> que se tome a raíz de estas reuniones o contactos <strong>será publicada</strong> de igual modo.</li>
                            </ol>
                            <p><strong>Portavoz</strong> de la candidatura de unidad popular <strong>Ganar La Muela</strong>:</p>
                            <p>Arturo Espada Roda</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Mesas informativas</h4>
                            <date>14 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-presentacion-candidatura.jpg', :class => "responsive-img", :title => "Presentación candidatura Ganar La Muela" %>
                            </figure>
                        </header>
                        <main>
                            <p>El viernes 15 de mayo se presenta nos presentamos ante todos los vecinos como candidatura municipal. Lugar: Salón de actos del Ayuntamiento.</p>
                        </main>
                    </article><!-- article -->


                    <article>
                        <header>
                            <h4 class="title">Mesas informativas</h4>
                            <date>12 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-mesa-informativa.jpg', :class => "responsive-img", :title => "Mesas informativas" %>
                            </figure>
                        </header>
                        <main>
                            <ul>
                                <li><strong>Día 13</strong>, de 16:30 a 20:00h - mesa informativa</li>
                                <li><strong>Día 15</strong>, a la 17:30h - Presentación de Ganar La Muela en el Salón de actos del Ayuntamiento</li>
                                <li><strong>Día 17</strong>, a las 11:00h y a las 14:00h - Mesas informativas en la Plaza del Corazon de Jesús</li>
                                <li><strong>Dia 19</strong>, a las 16:30h y a las 20:00h - Mesas informativas Frente a La Tahona</li>
                                <li><strong>Día 22</strong>, a las 18:00h y a las 21:00h - Mesas informativas y fin de campaña en la Plaza del Corazon de Jesús</li>
                            </ul>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">La candidata a la presidencia de Aragón Patricia Luquin visita La Muela</h4>
                            <date>11 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-visita-patricia-luquin.jpg', :class => "responsive-img", :title => "Patricia Luquin visita La Muela" %>
                            </figure>
                        </header>
                        <main>
                            <p>Ayer tuvimos una visita de postín, Patricia Luquin. La recibimos como Diputada de las Cortes de Aragón, por Izquierda Unida y también como candidata a la Presidencia de dichas Cortes Aragonesas para el próximo periodo electivo. Sabía perfectamente a donde venía y con quien se iba a encontrar.</p>
                            <p><strong>No fue un mitin al uso, se reunió con el equipo de Ganar La Muela, una candidatura ciudadana donde no importan tanto las siglas de los partidos sino los objetivos de desarrollo y progreso</strong> que se han propuesto para nuestro pueblo y les dio una “master class” de política, de lo que son, de lo que representan, de lo que se espera de ellos, de la magnifica oportunidad de cambio que nos presenta estas elecciones y de la imperiosa necesidad de lograr aunar todo el voto de la indignación, del progresismo, de la izquierda social y combativa que debe refrendar con su voto, ineludiblemente, el próximo día 24 las políticas de progreso social que presentan Ganar La Muela.</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Mesas informativas</h4>
                            <date>10 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-mesa-informativa.jpg', :class => "responsive-img", :title => "Mesas informativas" %>
                            </figure>
                        </header>
                        <main>
                            <p>Durante la mañana del domingo 10 se ha desarrollado la mesa informativa mediante la cual hemos podido hacer conocer nuestro programa y nuestras propuestas a todo aquel vecino que por allí se ha acercado</p>
                            <p><strong>Procederemos a desarrollar actos similares los días 17 y 22.</strong></p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Arranque de campaña</h4>
                            <date>8 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-comienza-pegada-carteles.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                            </figure>
                        </header>
                        <main>
                            <p>Ayer jueves, a las 12:00 de la noche, arrancaba la campaña electoral en La Muela.</p>
                            <p>Por este motivo, varios compañeros se prestaron a participar de la <strong>fiesta de pegada de carteles</strong>, como suele ser habitual.</p>
                            <p>Cabe destacar el <strong>buen ambiente y la ilusión</strong> que se respiraba</p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Hoy jueves 7 de Mayo, a las 12:00h, iniciamos la campaña electoral</h4>
                            <date>6 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-photo-carteles.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                            </figure>
                        </header>
                        <main>
                            <p>Por este motivo, podréis encontrarnos por el pueblo pegando carteles, como es de rigor. No nos mires y unete.</p>
                            <p><strong>La lucha por el cambio ha empezado.</strong></p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Domingo 10, Primer Mitin-Asamblea</h4>
                            <date>5 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-photo-plaza.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                            </figure>
                        </header>
                        <main>
                            <p>El <strong>domingo 10 a las 11 de la mañana</strong>, te esperamos ne la Plaza del Corazón de Jesús. Ahí podrás conocer, de primera mano, nuestras propuestas y la opinión de nuestros candidatos.</p>
                <p>Será un espacio <strong>abierto a la participación de todos</strong>.</p>
                        </main>
                    </article><!-- article -->

                </section>
            </main>

            <aside class="col l3 s12 page-aside">
                <blockquote>
                    <p><em>"En esta sección vas a poder encontrar las ultimas noticias, novedades y anuncios de Ganar La Muela"</em></p>

                    <%= partial "twitter-feed" %>
                </blockquote>
            </aside>
        </div>
    </div><!-- claim -->
</section>