---
layout: layout-chorizada
---
<section class="section-header" id="inicio">
    <div class="container">
        <div class="row">
            <header class="col s12 header">
                <div class="row">
                    <div class="col s12 center logo">
                        <% link_to '/' do %>
                          <img src="/images/logo-ganarlamuela-horizontal.svg" onerror="this.onerror=null; this.src='/images/logo-ganarlamuela-horizontal.png'">
                        <% end %>
                    </div>
                    <!--
                    <div class"col l6 s12 menu">
                        <ul>
                            <li><%= link_to 'descripcion', '#descripcion', :class => "anchor"%></li>
                            <li><%= link_to 'presentación', '#presentacion', :class => "anchor"%></li>
                            <li><%= link_to 'propiedades', '#propiedades', :class => "anchor"%></li>
                            <li><%= link_to 'testimonios', '#testimonios', :class => "anchor"%></li>
                            <li><%= link_to 'comprar', '#comprar', :class => "anchor"%></li>
                        </ul>
                    </div>
                    -->
                </div>
            </header>
            <main class="valign-wrapper  col s12 main">
                <div class="valign">
                    <h1>Chorizada en La Muela</h1>
                    <h4>Viernes 22 // 18:30 h // Frente a la Tahona</h4>
                </div>
            </main>
        </div>
    </div>
</section><!-- end section-header -->


<section class="section-description" id="descripcion">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>El Chorizo Ibérico<span class="tm">&#0153;</span></h2>
                <h5>Nutritivo, auténtico y delicioso.</h5>
                <h5>"La clave de la felicidad se oculta en el <strong>auténtico Chorizo Ibérico<span class="tm">&#0153;</span></strong> a la parrilla."</h5>

                <%= image_tag 'chorizo-iberico.png', :class => "responsive-img picture", :title => "Chorizo Ibérico" %>
            </div>
        </div>
    </div>
</section><!-- end section-description -->


<section class="section-presentation" id="presentacion">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Diferentes formas y presentaciones</h2>
                <h5><strong>El Chorizo Ibérico<span class="tm">&#0153;</span></strong> viene en diferentes formas y presentaciones.</h5>
                <h5>Encuentra la que se ajusta a tus preferencias.</h5>

                <div class="row">
                    <div class="col m4 s12">
                        <%= image_tag 'presentacion-dos.jpg', :class => "responsive-img picture", :title => "Chorizo Ibérico" %>
                        <h6>Chorizo político</h6>
                        <p>Profesional de la poltrona, su grasa es de la más alta calidad.</p>
                    </div>
                    <div class="col m4 s12">
                        <%= image_tag 'presentacion-tres.jpg', :class => "responsive-img picture", :title => "Chorizo Ibérico" %>
                        <h6>Chorizo pelotazo</h6>
                        <p>Se hace pasar por empresario. Presencia impecable.</p>
                    </div>
                    <div class="col m4 s12">
                        <%= image_tag 'presentacion-uno.jpg', :class => "responsive-img picture", :title => "Chorizo Ibérico" %>
                        <h6>Chorizo banquero</h6>
                        <p>No apto para jovenes en edad de hipoteca ni jubilados ahorradores.</p>
                    </div>
                </div>
        </div>
    </div>
</section><!-- end section-presentation -->


<section class="section-properties" id="propiedades">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>¿El <strong>chorizo Ibérico<span class="tm">&#0153;</span></strong> es sano?</h2>
                <h5>Por supuesto. <strong>Curado en los alpes suizos</strong>, todo sus ingredientes adquiridos en Serrano y Gracia, son de la más altisima calidad.</h5>
                <h5>Es una gran fuente de energía para tu cuerpo procedente de <strong>hidrocaburos del más alto precio</strong>. <small>No contiene trazas de energías renovables.</small></h5>

                <%= image_tag 'propiedades.png', :class => "responsive-img picture", :title => "Chorizo Ibérico" %>
            </div>
        </div>
    </div>
</section><!-- end section-properties -->


<section class="section-testimonial" id="testimonios">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Garantía de satisfacción 100%</h2>

                <div>
                    <%= image_tag 'juan-don-nadie.png', :class => "responsive-img picture", :title => "Juan Don Nadie" %>
                    <h5><em>"Yo era excéptico al principio, pero gracias al <strong>Chorizo Ibérico<span class="tm">&#0153;</span></strong> y tras pasar una crisis de <strong>lanzamiento</strong> de mi vivienda hipotecada, gracias a el, he hecho realidad mi sueño de conocer mundo y ahora tengo la suerte de tener dos mini-jobs en Alemania. Todo gracias al <strong>Chorizo Ibérico<span class="tm">&#0153;</span>"</em></h5>
                    <h5><small><strong>Juan Don Nadie</strong>, padre soltero, taxista y camarero</small></h5>
                </div>
            </div>
        </div>
    </div>
</section><!-- end section-testimonial -->


<section class="section-shop" id="comprar">
    <div class="container">
        <div class="row">
            <h2>Haz tu pedido ya!</h2>

            <article class="col l4 s12 article">
                <h5 class="title">
                    <strong>Chorizo Ibérico<span class="tm">&#0153;</span></strong> MINI</br>
                    <em>"Pequeño Nicolai"</em>
                </h5>
                <%= image_tag 'nicolai.jpg', :class => "responsive-img", :title => "Nicolai" %>
                <ul class="features">
                    <li>Chorizo joven.</li>
                    <li>Pequeño y compacto.</li>
                    <li>Facilmente transportable y desechable.</li>
                    <li>Delicioso.</li>
                </ul>
                <a href="https://twitter.com/intent/tweet?button_hashtag=enLaMuelaNosComemosLosChorizos&text=Acabo%20de%20hacer%20mi%20pedido%20de%20Chorizo%20Peque%C3%B1o%20Nicolai%20http%3A%2F%2Fgoo.gl%2FX5tGks" class="btn-large" data-size="large">Comprar con un Tweet</a>
            </article>

            <article class="col l4 s12 article">
                <h5 class="title">
                    <strong>Chorizo Ibérico<span class="tm">&#0153;</span></strong> PRO</br>
                    <em>"Bar de cenas"</em>
                </h5>
                <%= image_tag 'bar-de-cenas.jpg', :class => "responsive-img", :title => "Bar de cenas" %>
                <ul class="features">
                    <li>Chorizo de larga maduración.</li>
                    <li>Cada día una rodaja nueva.</li>
                    <li>Facilmente transportable a Suiza.</li>
                    <li>Muy rico.</li>
                    <li>Alto poder calórico, especialmente cuando se irrita..</li>
                </ul>
                <a href="https://twitter.com/intent/tweet?button_hashtag=enLaMuelaNosComemosLosChorizos&text=Acabo%20de%20hacer%20mi%20pedido%20de%20Chorizo%20Bar%20de%20cenas%20http%3A%2F%2Fgoo.gl%2FX5tGks" class="btn-large" data-size="large">Comprar con un Tweet</a>
            </article>

            <article class="col l4 s12 article">
                <h5 class="title">
                    <strong>Chorizo Ibérico<span class="tm">&#0153;</span></strong> TEAM</br>
                    <em>"Guretel"</em>
                </h5>
                <%= image_tag 'guretel.jpg', :class => "responsive-img", :title => "Guretel" %>
                <ul class="features">
                    <li>Ideal para grupos de amiguetes, bodas y celebraciones.</li>
                    <li>Todos los formatos para todos los gustos.</li>
                    <li>Servimos a toda España.</li>
                    <li>Inmejorable relación de calidad y de aprecio.</li>
                </ul>
                <a href="https://twitter.com/intent/tweet?button_hashtag=enLaMuelaNosComemosLosChorizos&text=Acabo%20de%20hacer%20mi%20pedido%20de%20Chorizo%20Guretel%20http%3A%2F%2Fgoo.gl%2FX5tGks" class="btn-large" data-size="large">Comprar con un Tweet</a>
            </article>

        </div>
    </div>
</section><!-- end section-shop -->


<section class="section-contest" id="concurso">
    <div class="container">
        <div class="row">
            <h2>¿Quieres ganar una camiseta muy picante?</h2>
            <div class="valign-wrapper-">
                <div class="col m6 s12 valign- picture">
                    <%= image_tag 'camiseta-picante.png', :class => "responsive-img", :title => "Juan Don Nadie" %>
                </div>
                <div class="col m6 s12 valign- text">
                    <h5>Participa y gana esta estupenda camiseta <strong>picante</strong></h5>
                    <p>Manda todos los Tweets que quieras con el hashtag <strong>#enLaMuelaNosComemosLosChorizos</strong></p>
                    <p>El tweet que obtenga más RTs antes de las doce de la noche del domingo 17 será el ganador.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- end section-contest -->


<section class="section-twitter-feed" id="twitter">
    <div class="container">
        <div class="row">
            <h2>Twitter en tiempo real</h2>
            <div class="valign-wrapper-">
                <div class="col s12 center widget">
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/enLaMuelaNosComemosLosChorizos" data-widget-id="598582477712678914">Tweets sobre #enLaMuelaNosComemosLosChorizos</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</section><!-- end section-twitter-feed -->



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>




